<html>
<head>
  <title>This is the error page</title>
  </head>
  <body>
<H1>Unfortunately we do not have data of this city. Please recheck your spelling.</H1>
<form id = 'e' action = '/'>
  <input type = 'submit' id = 'submit-btn' value = 'Homepage' />
  </form>
    </body>
</html>
