<html>
<head>
  <title> Home Page</title>
  </head>
  <body>
    <h1>Enter name of the City</h1>
    <form id="f" action="/displayDetails" method="post">
      <input type = "text" name = "CityInput"></input>
      <br /><br />
      <input type="submit" id = 'sbmt-btn'/>
    </form>

    </body>
</html>
