<html>
<head>
  <title> Home Page</title>
  </head>
  <body>
    <h1>Enter City</h1>
    <form id="f" action="/displayDetails" method="post">
      <select class ="CityOptions" name = "CityOptions">
        <option value = "chennai">
          Chennai
          </option>
        <option value = "bangalore">
          Bangalore
          </option>
          <option value = "delhi">
            Delhi
            </option>
      </select>
      <input type="submit" id = 'sbmt-btn'/>
    </form>

    </body>
</html>
